{% extends "base.html" %}

{% block content %}
  <h1>Driver List</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>License number</th>
    </tr>

    {% for driver in driver_list %}
      <tr>
        <td>{{ driver.id }}</td>
        <td>
          <a href="{% url 'taxi:driver-detail' pk=driver.id %}">
            {{ driver.username }}
          </a>
        </td>
        <td>{{ driver.license_number }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">There are no drivers.</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}